.page-background {
    height: 1500px;
}

.page-background-image {
    height: 150px;
    background-image: url("../../assets/home_background.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 300px;
}

.center-container {
    position: absolute;
    right: 237px;
    top: 237px;
}

h1 {
    color: #FFF;
    font-family: Helvetica;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.page-white-background {
    background-color: #FFF;
    padding-bottom: 300px;
    margin-top: 100px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    width: 40%; 
    margin-left: 10%;
}

.case-title {
    width: 606px;
    color: #0E1728;
    font-family: Helvetica;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.case-text {
    width: 100%;
    color: #0E1728;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-align: justify;
}

.case-img {
    width: 35%; 
    margin-right: 10%;
}